<html>

<head>

    <title>Life Search Cam</title>

    <style>
      .a {
        width: 500px;
        padding: 100px 0px;
      }
      .b {
        background-color: #444444;
      }
     </style>
</head>

<body>
     <div class="a">
        <div class="b">
        </div>
     </div>
<center>
    <h1>Life Search Cam</h1>

    <h2>: 실시간 열화상 촬영 영상</h2>
    <img id="bg" src="{{ url_for('video_feed') }}" />
    <h3>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;made by JEMBEDED</h3>
</center>
</body>

</html>
